DATABASE_HOST=localhost
DATABASE_USER=root
DATABASE_PASSWORD=your_mysql_password
DATABASE_NAME=gamemerchstore
DATABASE_DIALECT=mysql

TOKEN_SECRET=your_jwt_secret_here

CORS_ORIGIN=http://localhost:3000

STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
